
.container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
    width: 80%;
  margin: 100px auto;
}
.input-fields{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input-box{
  margin-bottom: 20px;
}
input{
  padding: 5px;
}
table{
  border-collapse: collapse;
  margin-top: 20px;

}
table td{
 
  padding:10px 35px
}


.tableCell{
  border:1.5px solid black;
}
.activeCell{
border:2px solid blue;
}


.arrows-container{
  width: 20%;
  display: flex;
  flex-direction: column;
}
.arrow{
  font-size: 25px;
}
.middle-arrows{
  display: flex;
  justify-content: space-between;
}
button{
  background: none;
    color: inherit;
    border: none;
    padding: 0;
}
button:focus{
  outline: none;
}
button:hover{
  cursor: pointer;
}